<script src="{{scripts.captain}}" hidden></script>
<div class="ui segment">
    <h3 class="ui dividing header">Captain Dashboard</h3>

    <div class="ui four statistics">
        <div class="teal statistic">
            <div class="value" id="captain_members_stat">0</div>
            <div class="label">Club Members</div>
        </div>
        <div class="teal statistic">
            <div class="value" id="captain_trips_stat">0</div>
            <div class="label">Trips This Year So Far</div>
        </div>
        <div class="teal statistic">
            <div class="value" id="captain_boats_stat">0</div>
            <div class="label">Club Boats</div>
        </div>
        <div class="teal statistic">
            <div class="value" id="captain_expenses_stat">€ 0</div>
            <div class="label">Club Reimbursement</div>
        </div>
    </div>
</div>