<div class="sixteen wide column">
    <div class="ui center aligned footer segment" attached="bottom">
        <div class="ui big horizontal link list">
            <div class="item">
                <a href="https://www.facebook.com/witkayaking"><i class="large facebook square icon"></i>Facebook</a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/witkayaking"><i class="large instagram icon"></i>Instagram</a>
            </div>
            <div class="item">
                <a href="mailto:witkayakingclub@gmail.com"><i class="large envelope icon"></i>E-Mail</a>
            </div>
        </div>
        <p>Copyright MB</p>
    </div>
</div>