<nav class="ui sixteen wide column">
    <div class="ui eight item menu">

        <a class="item" href="/">Home</a>

        <div class="ui simple dropdown item" id="about_dropdown">
            About Us
            <i class="ui dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/about/history">Club History</a>
                <a class="item" href="/about/committee">Committee</a>
                <a class="item" href="/about/constitution">Constitution</a>
            </div>
        </div>

        <a class="item" href="/events">Events</a>
        
        <a class="item" href="/contact">Contact Us</a>

        {{#if logged_in}}
        <a class="item" href="/profile/me">My WITKC</a>
        {{/if}}

        <div class="ui right dropdown item" id="language_dropdown">
            <div class="text"></div>
            <input type="hidden" name="language">
        </div>
    </div>
</nav>