{{#if loggedIn}}
<nav class="ui sixteen wide column">
    <div class="ui borderless menu">
        <a class="ui icon item" id="phone_menu_button" onclick="$('#phone_menu').sidebar('toggle');"><i class="ui icon bars"></i></a>
        <div class="ui right item" style="font-size: 28; padding: 5px 20px"><b>SETUKC</b></div>
    </div>
</nav>
{{else}}
<nav class="ui sixteen wide column">
    <div class="ui eight item menu">

        <a class="item" href="/home">Home</a>

        <div class="ui simple dropdown item" id="about_dropdown">
            About Us
            <i class="ui dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/about/history">Club History</a>
                <a class="item" href="/about/committee">Committee</a>
                <a class="item" href="/about/constitution">Constitution</a>
            </div>
        </div>

        <a class="item" href="/events">Events</a>

        <a class="item" href="/contact">Contact Us</a>

        {{#if loggedIn}}
        <div class="ui simple dropdown item" id="my_setukc_dropdown">
            My SETUKC
            <i class="ui dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/profile/me">My Profile</a>
                <a class="item" href="/trip/create">Request Trip</a>
                <a class="item" href="/equipment/book">Book Gear</a>
                <a class="item" href="/expenses">Expenses</a>
                <a class="item" href="/profile/me/settings">Settings</a>
            </div>
        </div>
        {{/if}}

        <div class="ui right dropdown item" id="language_dropdown">
            <div class="text"></div>
            <input type="hidden" name="language">
        </div>
    </div>
</nav>
{{/if}}