<div class="two wide column">
    <a href="/">
        <img class="ui middle aligned rounded image" src="img\witkc_logo.png" alt="WITKC Logo">
    </a>
</div>
<div class="fourteen wide column">
    <div class="ui top attached center aligned segment" id="header_top">
        <h1>WIT Kayaking Club</h1>
    </div>
    <div class="ui bottom attached center aligned menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="/about">About Us</a>
        <a class="item" href="/committee">Committee</a>
        <a class="item" href="/events">Events</a>
        <div class="right fitted item">
            <div class="ui dropdown item">
                Language <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">English</a>
                    <a class="item">Russian</a>
                    <a class="item">Spanish</a>
                </div>
            </div>
            <a class="item" href="/login">Login</a>
            <a class="item" href="/signup">Sign Up</a>
        </div>
    </div>
</div>