<nav class="ui sixteen wide column">
    <div class="ui ten item menu">
        <script src="{{language_dropdown}}"></script>
        <a class="item" href="/">Home</a>
        <a class="item" href="/about">About Us</a>
        <a class="item" href="/committee">Committee</a>
        <a class="item" href="/events">Events</a>
        <a class="item" href="/contact">Contact Us</a>

        {{#if logged_in}}
        <a class="item" href="/my_viking">My Viking</a>
        {{/if}}

        <div class="ui right dropdown item" id="language_dropdown">
            <div class="text"></div>
            <input type="hidden" name="language">
        </div>
    </div>
</nav>