<script src="{{scripts.safety}}" hidden></script>
<div class="ui segment">

    <h3 class="ui dividing header">Safety and Development Dashboard</h3>

    <div class="ui divided grid">

        <div class="ui twelve wide column">

            {{#if safety.trips.length}}

            <div class="ui cards">

                {{#each safety.trips}}

                <div class="ui fluid link card trip" id="{{this.tripId}}">
                    <div class="content">
                        <div class="ui left floated header" style="margin: 0px; padding-top: 2px">{{this.name}}: </div>
                        <div class="ui right floated mini buttons">
                            <div class="ui negative icon button"><i class="close icon"></i></div>
                            <div class="ui positive icon button"><i class="check icon"></i></div>
                        </div>
                    </div>
                </div>

                {{/each}}

            </div>

            {{else}}

            <div class="ui fluid placeholder segment">
                <div class="ui icon header">
                    <i class="check double icon"></i>
                    No trips need safety clearance right now.
                </div>
            </div>

            {{/if}}
        </div>

        <div class="ui four wide column">
            <button class="ui fluid teal button announcement_button">
                <h4 class="ui center aligned icon header">
                    <i class="large announcement icon"></i>
                    Announcements
                </h4>
            </button>

            <br>

            <button class="ui fluid teal button" id="award_cert">
                <h4 class="ui center aligned icon header">
                    <i class="large award icon"></i>
                    Award Certificate
                </h4>
            </button>

            <div class="ui mini modal" id="award_cert_modal">

                <div class="header">Award Certificate to Member</div>

                <div class="content">

                    <form class="ui form" id="award_cert_modal_form">

                        <div class="field">
                            <label>Award</label>
                            <div class="ui fluid search selection dropdown" id="award_cert_modal_cert_dropdown">
                                <input type="hidden" id="award_cert_modal_cert_dropdown_input">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                        </div>


                        <div class="field">
                            <label>To</label>
                            <div class="ui fluid multiple search selection dropdown"
                                id="award_cert_modal_member_dropdown">
                                <input type="hidden" id="award_cert_modal_member_dropdown_input">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                        </div>

                        <div class="ui error message">
                            <div class="header">
                                There was an error connecting to the server. Please reload the page and try again!
                            </div>
                        </div>
                    </form>
                </div>

                <div class="right aligned actions">
                    <button class="ui negative button" id="award_cert_modal_cancel">Cancel</button>
                    <button class="ui positive button" id="award_cert_modal_confirm">Confirm</button>
                </div>
            </div>

            <br>

            <button class="ui fluid teal button" id="revoke_cert">
                <h4 class="ui center aligned icon header">
                    <i class="large undo icon"></i>
                    Revoke Certificate
                </h4>
            </button>

            <div class="ui mini modal" id="revoke_cert_modal">
                <div class="header">Revoke Certificate from Member</div>

                <div class="content">

                    <div class="ui search selection dropdown" id="revoke_cert_modal_member_dropdown">
                        <input type="hidden" id="revoke_cert_modal_member_dropdown_input">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                    </div>

                    <div class="ui items" id="revoke_cert_modal_cards">

                    </div>

                    <div class="ui error message" id="revoke_cert_modal_error" hidden>
                        <div class="header">
                            There was an error connecting to the server. Please reload the page and try again!
                        </div>
                    </div>
                </div>

                <div class="right aligned actions">
                    <button class="ui positive button" id="revoke_cert_modal_close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>