<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    

    <!-- Script Links -->
    <link rel="icon" href="{{witkcIcon}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zxcvbn@4.4.2/dist/zxcvbn.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="{{scripts.global}}"></script>
</head>

<body style="background-color: teal; background-image: radial-gradient(farthest-corner, #91c3ff, #008080); background-attachment: fixed;">
    <div style="padding: 15px">

        <div class="ui centered grid container">

            <div class="row">
                {{> header}}
            </div>

            <div class="row">
                {{{body}}}
            </div>

            <div class="row">
                {{> footer}}
            </div>

        </div>
    </div>

    <div class="ui fixed nag" id="cookie_nag">

        <div class="title">Cookie Banner!</div>

        <p>
            This website uses cookies to function. To find out more about this websites use of cookies view our
            <a style="color: purple;" href="/privacy#how_cookies">Privacy Policy</a>. To consent to the use of cookies,
            click accept. If you don't
            consent to the use of cookies, essential features of the website will not work.
        </p>

        <button class="negative ui button" id="nag_decline">Decline</button>
        <button class="positive ui button" id="nag_accept">Accept</button>
    </div>
</body>

</html>