<div class="twelve wide column">
    <div class="ui segment" style="height: 100%">
        <div class="ui grid">
            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Our History</h1>
                <p>
                    WIT Kayaking club was founded in 2002. We compete in different events every year, the most important
                    of
                    which for us is the annual Irish Canoe & Kayak Intervarsity event. The club has risen from last on
                    the table
                    in 2003 to 7th in 2017 winning most improved club and a brand new boat.
                </p>
                <p>
                    Although a small club at the start we now find ourselves as the most active club on campus and the
                    biggest
                    club outside of the main field sports clubs. The club currently comprises of a base of 25+ regular
                    paddlers,
                    including abilities ranging from Irish team members to complete beginners, who frequently paddle
                    stretches
                    of water around the South East.
                </p>
            </div>

            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Whitewater</h1>
                <img class="ui medium rounded right floated image" src="/img/ww.jpg" alt="Whitewater Image">
                <p>
                    The majority of our members that join the club are mostly focused on whitewater. The skills we teach
                    you on day one will be of use to you in all disciplines of kayaking, but more often than not we are
                    preparing you for river trips. From fresher trips at Clashganny to traveling abroad, whitewater
                    gets your adrenaline pumping seriously. It is also a great way of learning new skills such as safety
                    and risk management.
                </p>
            </div>

            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Polo</h1>
                <img class="ui medium rounded right floated image" src="/img/polo.jpg" alt="Polo Image">
                <p>
                    The Club will usually play polo in the pool once a week and will hold outdoor training days on the
                    lead up to competitions such as ICUP. What is Polo? Polo is a team of players where they throw the
                    ball between them, aiming to score goals by throwing the ball into a 2m x 1m rectangular goal
                    suspended 2m above water level. While in possession teams will pass the ball around and try to
                    create enough space near the opposition goal to take a shot. The defending team will set up a 'zone'
                    around their own goal which they will try to keep all of the attackers out of. All of this involves
                    a lot of crashing into each other, pushing boats around and you are allowed to capsize people by
                    pushing them on the shoulder when they have the ball!
                </p>
            </div>

            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Freestyle</h1>
                <img class="ui medium rounded left floated image" src="/img/freestyle.jpg" alt="Freestyle Image">
                <p>
                    The Club will usually spend our time in the pool training in freestyle, when we get the opportunity
                    some members will travel to Tuam or if the water is high to Scum Hole in Kilkenny. During the summer
                    months the club will spend most of their weekends camping in Clifden and surfing the local play-spot
                    under the bridge.
                </p>
            </div>

            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Long Distance</h1>
                <img class="ui medium rounded right floated image" src="/img/ld.jpg" alt="Long Distance Image">
                <p>
                    In previous years the club has done very well in Canadian Doubles races taking gold a number of
                    years in a row. The Club has a strong fleet of high performance boats that are perfect for routine
                    long distance training.
                </p>
            </div>

            <div class="ui sixteen wide column">
                <h1 class="ui dividing header">Training</h1>
                <img class="ui medium rounded left floated image" src="/img/fresher.jpg" alt="Image of a Happy Fresher">
                <p>
                    We pride ourselves on the trining of our freshers. We try our best to get new members of the club
                    exited about the sport and to teach them all the necessary skills of the sport. We have regular pool
                    sessions to practice our skills, and we try to organize official qualification courses for our
                    members to get their Canoeing Ireland certifications.
                </p>
            </div>
        </div>
    </div>
</div>

{{> sidebar}}