<div class="twelve wide column">
    <div class="ui segment" style="height: 100%">

        <h1 class="ui dividing header">Our History</h1>

        <p>
            WIT Kayaking club was founded in 2002. We compete in different events every year, the most important of
            which for us is the annual Irish Canoe & Kayak Intervarsity event. The club has risen from last on the table
            in 2003 to 7th in 2017 winning most improved club and a brand new boat.
        </p>
        <p>
            Although a small club at the start we now find ourselves as the most active club on campus and the biggest
            club outside of the main field sports clubs. The club currently comprises of a base of 25+ regular paddlers,
            including abilities ranging from Irish team members to complete beginners, who frequently paddle stretches
            of water around the South East.
        </p>
    </div>
</div>

{{> sidebar}}