<div class="twelve wide column">
    <div class="ui segment" style="height: 100%">
        <h1 class="ui dividing header">Our Committee...</h1>
        <p>
            ...is elected every year and consists of 7 members: the Captain, the Vice Captain, the Safety Officer,
            the Equipment Officer, the Public Relations Officer, the Financial Officer and the Fresher Representative.
            You can find out more about the responsibilities of the committee members and how they are elected by
            reading our <a href="/constitution">Constitution</a>.
        </p>
        <div class="ui centered three cards">
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Bryan O'Mahony</div>
                    <div class="meta">Captain</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Saoirse O'Dwyer</div>
                    <div class="meta">Vice Captain</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Dylan Kinchella</div>
                    <div class="meta">Safety Officer</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Kevin Joyce</div>
                    <div class="meta">Equipment Officer</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Eva Grant</div>
                    <div class="meta">Public Relations Officer</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Rachel Power</div>
                    <div class="meta">Financial Officer and Secretary</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/img/placeholder_avatar.png" alt="Picture"></div>
                <div class="content">
                    <div class="header">Kevin McGrath</div>
                    <div class="meta">Fresher Representative</div>
                    <div class="description">
                        This is some interesting info about Bryan.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>