<div class="twelve wide column">
    <div class="ui fitted segment" style="height: 100%">

        <h1 class="ui dividing header">Our Constitution</h1>

        <style>
            #constitution {
                border: 0px;
                width: 100%;
                height: 3367px;
            }
        </style>
        <iframe id="constitution" src="https://docs.google.com/document/d/e/2PACX-1vQ_RGbe7Ybk9xd9YrMZkOJ4bTTvtdwHHnxn0iuDLjtwt3PT0ojl_C2j13huJmL-OQ/pub?embedded=true"></iframe>
    </div>
</div>

{{> sidebar}}