<div class="sixteen wide column">
    <div class="ui segment">
        <h1 class="ui center aligned header">Contact</h1>
        <p>During the collage term we meet twice a week for our in person pool sessions at the Waterford Crystal Leisure Center, Tuesdays and Thursdays 9:30pm to 10:30pm</p>
        <p>
            You can contact us through E-Mail or through this form:
        </p>
        <form class="ui form" method="post" id="contactForm">
            <div class="two fields">
                <div class="required field">
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="required field">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
            </div>
            <div class="required field">
                <input type="text" name="email" placeholder="Email Address">
            </div>
            <div class="required field">
                <textarea rows="5" name="content" placeholder="Message..."></textarea>
            </div>
            <button class="fluid ui gray button" type="submit">Send</button>
        </form>
    </div>
</div>