<script src="{{scripts.events}}" hidden></script>
<div class="twelve wide column">
    <div class="ui segment" style="height: 100%">

        <div class="ui calendar" id="event_calendar"></div>

        <div class="ui segment" id="event_list"></div>

    </div>
</div>

{{> sidebar}}