<div class="six wide column">
    <div class="ui segment">
        <h1 class="ui center aligned header">Please Log-In</h1>
        <form class="ui form" action="/login" method="post">
            <div class="field">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <input type="password" minlength="8" name="password" placeholder="Password">
            </div>
            <button class="fluid ui gray button" type="submit">Login</button>
        </form>
    </div>
</div>