<div class="six wide column">
    <div class="ui segment">
        <h1 class="ui center aligned header">Sign Up</h1>
        <form class="ui form" method="post" id="signUpForm" onsubmit="return checkpw(this)">
            <h4 class="ui dividing header">Personal Information</h4>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="fname" placeholder="First Name">
                </div>
                <div class="field">
                    <input type="text" name="lname" placeholder="Last Name">
                </div>
            </div>
            <div class="field">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <input type="text" name="email" placeholder="Email Address">
            </div>
            <div class="field">
                <input type="text" name="phone" placeholder="Phone Number">
            </div>
            <h4 class="ui dividing header">Address</h4>
            <div class="field">
                <input type="text" name="address[line1]" placeholder="Address Line 1">
            </div>
            <div class="field">
                <input type="text" name="address[line2]" placeholder="Address Line 2">
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <input type="text" name="address[county]" placeholder="County">
                </div>
                <div class="five wide field">
                    <input type="text" name="address[eir]" placeholder="Eir Code">
                </div>
            </div>
            <h4 class="ui dividing header">Password</h4>
            <div class="field">
                <input type="password" minlength="8" maxlength="64" name="password" placeholder="Password" id="pw">
            </div>
            <div class="field">
                <input type="password" minlength="8" maxlength="64" name="passwordConfirm"
                    placeholder="Confirm Password" id="pwconf">
            </div>
            <br>
            <button class="fluid ui gray button" type="submit">Sign Up</button>
        </form>
    </div>
</div>