<div class="twelve wide column">
    <div class="ui segment" style="height: 100%">
        <h1 class="ui dividing header">My Trips</h1>
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="map icon"></i>
                You have not been on any trips yet!
            </div>
        </div>

        <h1 class="ui dividing header">My Qualifications</h1>
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="graduation cap icon"></i>
                You do not have any qualifications yet!
            </div>
        </div>
    </div>
</div>