<div class="sixteen wide column">
    <div class="ui segment" style="height: 100%">

        <h1 class="ui dividing header">Our Constitution</h1>

        <!-- Aims -->
        <h3>Aims and Objectives:</h3>
        <ol>
            <li>
                To teach new members the basics of kayaking and canoeing in a safer and comprehensive manner.
            </li>
            <li>
                Facilitating the growth of kayakers with previous experience in the sport.
            </li>
            <li>
                To compete in Intervarsity events as well as other national and international events and competitions.
            </li>
            <li>
                To run weekly (where possible) kayaking/canoeing trips to the various rivers/beaches/other bodies of
                water around the country and internationally to further train and improve all members of all skill
                levels of the club.
            </li>
        </ol>



        <!-- Members -->
        <h3>Members and Membership</h3>
        <ol>
            <li>
                Membership of the club shall be open to all students and staff of the college.
            </li>
            <li>
                Membership shall be obtained by paying the appropriate joining fee set down by the club's office, and by
                registering as a member through the club's office.
            </li>
            <li>
                Honorary Membership may be gained by anyone by the donation of a fee to the club. This fee will be equal
                to the membership fee. These members must hold valid insurance for use of club equipment.
            </li>
            <li>
                All members will be bound by this constitution.
            </li>
        </ol>



        <!-- Committee -->
        <h3>The Executive Committee</h3>
        <ol>
            <li>
                The club shall have a democratically elected executive (The Committee).
            </li>
            <li>
                The Committee shall run the club on behalf of its members and to the best of its abilities uphold
                the
                aims and objectives.
            </li>
            <li>
                Decisions made should be by consensus where possible, if not Committee votes will be decided by
                majority
                voting and must be of a quorum of 3/4s Committee members.
            </li>
            <li>
                The Committee shall consist of:
                <ol>
                    <li>Captain</li>
                    <li>Vice-Captain</li>
                    <li>Safety and Development Officer</li>
                    <li>Treasurer and Secretary</li>
                    <li>Equipments Officer</li>
                    <li>Public Relations Officer</li>
                    <li>New Member's Officer</li>
                </ol>
            </li>
            <li>
                These roles shall have a term length of 1 year.
            </li>
            <li>
                The current committee's last day of term shall be the last day of exams in semester 2 and the new
                committee shall succeed them the following day.
            </li>
        </ol>



        <!-- Election -->
        <h3>Elections of Executives.</h3>

        <ol>
            <li>
                The Committee Members shall be democratically elected at the Annual General Meeting (AGM) or at an
                Extraordinary General Meeting (EGM).
            </li>
            <li>
                To seek election a candidate must be nominated by 1 current member of the club.
            </li>
            <li>
                To be eligible for a committee position (other than the Captain, Treasurer and Secretary or New Members
                Officer) a candidate must be at the time of the election a current member of the club and full-time
                registered student.
            </li>
            <li>
                To be eligible for the position of Captain or Treasurer and Secretary, a candidate must be a registered
                club member and a full-time student of the college throughout the period of their role.
            </li>
            <li>
                To be eligible for the position of New Members Officer a candidate must be a registered club member, a
                full-time student of the college and it be their first year as a member of the club. Candidates do not
                need to be in their 1st year of academic studies.
            </li>
            <li>
                Voting for committee positions will be conducted through secret ballot and counted by the OCM. A full
                breakdown shall be presented to any candidate upon request.
            </li>
            <li>
                A recount can be called by a candidate if at least 3 club members approve.
            </li>
            <li>
                All elections should have an option to Re-Open Nominations regardless of the number of candidates. Any
                position cannot be held by the same person for more than two academic years in a row.
            </li>
            <li>
                If a position remains unfilled after the AGM, this may be revisited at the discretion of the committee.
            </li>
        </ol>



        <!-- Roles -->
        <h3>Executive Roles/Duties</h3>

        <ol>
            <li>
                Captain - The Captain oversees the running of the club as a whole and will chair and officiate all club
                and committee meetings.
            </li>
            <li>
                Vice-Captain - The Vice-Captain shall assist the captain in all the duties and shall assume the duties
                of the captain in their absence (unless decided otherwise by the committee vote). They will also help to
                organise social gatherings and events to facilitate team bonding within the club, organise and run
                various funding events during the year to raise money for the club.
            </li>
            <li>
                Safety and Development Officer - The Safety and Development Officer is responsible for the health and
                safety of all club members during any of their activities (e.g., pool training, river/surf/flat-water
                trips. Weekend away trips and all other activities) The Safety and Development officer must organise
                adequate safety crews for every trip and outing to ensure the safety of all members. They shall also
                have the final say on the approval of all activity events.
            </li>
            <li>
                Treasurer and Secretary - The Treasurer's function shall be to oversee all club funds, to maintain the
                accounts and budget sheets of income/expenditure, oversee the grant application and be the one to liaise
                with the club's office for the withdrawing of funds and payment of club purchases. The Secretary role
                shall be to deal with all club correspondence, organise the clubs' meetings and give notice to the
                members of them, keep minutes of all meetings and act as the main point of contact to the club's office
                for the committee.
            </li>
            <li>
                Equipment Officer - The equipment's officer shall be responsible for all the clubs fixed and current
                assets. They shall keep an up to date stocktake and inventory of all equipment owned by the club and
                will be the main point of acquirement of new equipment purchases.
            </li>
            <li>
                Public Relations Officer - The PRO will be responsible for the advertising of all functions of the club
                through the internet or other means. They will be the main controller of the social media accounts the
                club owns (details set out in article 9 of this constitution).
            </li>
            <li>
                New Members Officer - The New Members Officer's role will be to liaise with the other new members of the
                club and give feedback to the committee on behalf of them to facilitate the smooth integration of new
                members into the club.
            </li>
            <li>
                OCM - The OCM acts in an impartial advisory role to the committee The OCM will have no voting rights in
                Committee or General Meeting votes. The OCM will also not participate in committee forums such as online
                group chats. In the case of hung votes, the OCM will be the deciding vote. They will also act as the
                returning officer of elections. This can be held by a previous club member or year of grace student.
            </li>
        </ol>



        <!-- Committee Dismissal -->
        <h3>Dismissal and Resignation of Committee/Club Members</h3>

        <ol>
            <li>
                The Dismissal of Committee member shall only be done so with the consultation and approval of the Club's
                office, and a majority vote of the Committee in which a quorum of 100% shall be implemented.
            </li>
            <li>
                A Violation of club rules according to this constitution or the rules set down by the Club's office
                governing all sports clubs if deemed so by the committee and the Club's office can trigger dismissal
                procedures. The subject of the dismissal must be given 72 hours to submit an appeal to the Club's
                office.
            </li>
            <li>
                In the event of dismissal or expulsion from the club is necessary the Clubs office must be informed
                about the violation of the rules immediately.
            </li>
            <li>
                A Committee member wishing to resign must submit a letter or email declaring their intent to resign to
                the Treasurer and Secretary, who will inform the Committee on their behalf. The responsibilities of that
                members will be divided up among the other positions until an EGM can be called to elect a replacement.
                A replacement can only be elected to the Committee through an EGM by a club vote, not a Committee vote.
            </li>
            <li>
                Dismissals or Expulsions from the Committee/club shall involve no refund of monies to the member.
            </li>
            <li>
                In the case that the sitting Captain decides to suspend their Academic studies while sitting regardless
                of deferment. The Captain must resign from their position. The position should be taken over by the
                Vice-Captain until an EGM can be called to re-elect a new Captain.
            </li>
        </ol>



        <!-- Meetings -->
        <h3>AGM & EGM</h3>

        <ol>
            <li>
                There shall be an Annual General Meeting and at least one Extra-ordinary Meeting held each year.
            </li>
            <li>
                To have a vote in the AGM or EGM a person must be a registered and fee-paying member of the club and
                must be a full-time registered student or a current committee member of the club.
            </li>
            <li>
                The AGM shall take place in the 2nd half of the 2nd semester on a date and location decided by the
                committee but no later than week 11 of the academic calendar (where possible).
            </li>
            <li>
                The New Members Officer will be elected through an EGM in the 2nd half of the 1st semester.
            </li>
            <li>
                An EGM can be called anytime by the committee with a majority Committee vote, and by a petition of
                regular club members (defined in 2.1 & 2.2). The petition must receive 1/3 of registered members
                signatures or 12 member signatures in total.
            </li>
            <li>
                A quorum for an AGM or EGM shall be 33% of members or at least 12 members. This must include 50% of the
                current committee.
            </li>
            <li>
                At the AGM, the Treasurer and Secretary must report of the club's budget and finances for the year.
                Including a report on income, fundraising, grant details and expenditure.
            </li>
            <li>
                Notice of all meeting must be given by the Treasurer and Secretary (or nominated committee member) of at
                least 5 days prior to the meeting to all club members of the meeting.
            </li>
            <li>
                Any club member may propose a resolution at a meeting. This can be done by a show of hands unless a
                secret ballot is requested by at least 3 members. If a secret ballot is approved a request to show the
                papers shall be granted after the count.
            </li>
            <li>
                A recount can be called by a candidate if at least 3 club members approve.
            </li>
            <li>
                A Committee Handover meeting must occur between the old and new committee between the end of AGM and the
                end of Semester 2 as laid down by SETU.
            </li>
        </ol>



        <!-- General -->
        <h3>General</h3>

        <ol>
            <li>
                The Membership fee of the club shall be set down by the Club'ss office each year.
            </li>
            <li>
                This Constitution shall be made public to the club members and any member can ask for a copy (sent via
                email) at any time free of charge.
            </li>
            <li>
                Shed Keys - The keys for the kayaking club's storage shed are the responsibility of the Club. They
                remain the property of SETU Arena. Any club member can ask for access to the shed and this is at the
                discretion of the Committee. The keys must be returned to the SETU Arena after use unless the committee
                has decided to keep hold of them for a weekend trip with the permission of the SETU Arena. A three-strike
                rule will remain in place for the non-return of the keys to the Arena.
            </li>
            <li>
                If club members want to take gear on a trip with no Committee member present, the trip must be signed
                off on by the Safety and Development Officer, and the use of gear must be made aware to the Equipment
                Officer or the Committee.
            </li>
            <li>
                Every member of the club including the Committee must abide by the rules set down by the Club's Office
                governing all sports clubs.
            </li>
            <li>
                The SETUKC Safety Statement should be referred to as the guidebook for any queries in relation to safety
                on club trips.
            </li>
            <li>
                The Policy should be reviewed biannually and chaired by the Safety and Development Officer. The review
                may be attended by any club members.
            </li>
        </ol>



        <!-- Social Media -->
        <h3>Club Social Media, Gmail, Videos and Posting Policy</h3>

        <ol>
            <li>
                The Committee has full ownership of all club social media accounts. No individual Committee member has
                full ownership of any of these platforms.
            </li>
            <li>
                Gmail/Email - Access to the club email account is to be given to all Committee members when that
                Committee comes into term. The Club email and subsequent google drive are not to be used by any
                Committee member for personal non-kayaking/canoeing business. No Member shall forge an email from
                another committee member (i.e. signing another's name without their consent).
            </li>
            <li>
                All Social Media guidelines will be set out by the Clubs Online Presence Guidelines, this will be
                reviewed biannually by the committee.
            </li>
            <li>
                Any club member can make and edit their own videos of river trips and weekend trips away etc and are
                encouraged to do so, these videos, however, can not contain explicit nudity or promote the use of
                alcohol during water sport activities.
            </li>
        </ol>



        <!-- Amendments -->
        <h3>Amendments to this Constitution</h3>

        <ol>
            <li>
                To amend this constitution a vote of club members must be held at an AGM or EGM.
            </li>
            <li>
                Amendments, when passed, shall be made public to all club members via the private Facebook group titled
                'W.I.T Kayak Club'.
            </li>
        </ol>



        <!-- Notice -->
        <p style="text-align: center; font-weight: 700">
            This is a copy of the constitution and not the original. It may be out of date or not fully accurate.
        </p>
    </div>
</div>