<div class="sixteen wide column">
    <div class="ui segment" style="height: 100%">

        <h1 style="text-align: center;">SETUKC Privacy Policy</h1>

        <!-- Introduction -->
        <p>
            The South East Technological University Kayaking Club ('SETUKC' or 'the Club') is a collage sporting club at
            the South East Technological University Institute of Technology ('the Collage'). This privacy policy will explain how our organization
            uses the personal data we collect from you when you use our website.
        </p>



        <!-- Content -->
        <p>Topics:</p>
        <ul>
            <li><a href="#what_collected">What data do we collect?</a></li>
            <li><a href="#how_collected">How do we collect your data?</a></li>
            <li><a href="#how_used">How will we use your data?</a></li>
            <li><a href="#how_stored">How do we store your data?</a></li>
            <li><a href="#promotion">Promotion</a></li>
            <li><a href="#rights">What are your data protection rights?</a></li>
            <li><a href="#cookies">What are cookies?</a></li>
            <li><a href="#how_cookies">How do we use cookies?</a></li>
            <li><a href="#what_cookies">What types of cookies do we use?</a></li>
            <li><a href="#manage_cookies">How to manage your cookies</a></li>
            <li><a href="#other_websites">Privacy policies of other websites</a></li>
            <li><a href="#changes">Changes to our privacy policy</a></li>
            <li><a href="#contact">How to contact us</a></li>
            <li><a href="#authorities">How to contact the appropriate authorities</a></li>
        </ul>



        <!-- What Collected -->
        <h3 id="what_collected">What data do we collect?</h3>

        <p>The Club collects the following data:</p>
        <ul>
            <li>Personal identification information. (Name, email address, phone number, postal address)</li>
            <li>Data concerning your skill at the sport such as certifications with Canoeing Ireland.</li>
            <li>Data about your activities within the club such as attendance at competitions or club trips.</li>
        </ul>



        <!-- How Collected -->
        <h3 id="how_collected">How do we collect your data?</h3>

        <p>
            You directly provide the Club with most of the data we collect. We collect data and process data when
            you:
        </p>
        <ul>
            <li>Register online with the website</li>
            <li>Register for trips and events through the website</li>
            <li>Use or view our website via your browser's cookies.</li>
        </ul>

        <p>The Club may also receive your data indirectly from the following sources:</p>
        <ul>
            <li>Data provided to us through the Collage</li>
            <li>When you provide us information in person at meetings</li>
        </ul>



        <!-- How Used -->
        <h3 id="how_used">How will we use your data?</h3>

        <p>The Club collects your data so that we can:</p>
        <ul>
            <li>Identify you when organizing events or trips for the Club.</li>
            <li>Email you with invites to events we think you might like.</li>
            <li>Email you with information if there are important changes to the website.</li>
        </ul>

        <p>
            If you agree, the Club will share your data with the Collage if required by them. The Club also shares parts
            of your date with other users of the website by letting them view your profile on this service, and listing
            you as member of this club. Users who are logged into this service can freely see your full name and
            information about your kayaking, and involvement in the Club such as the trips you've gone on and the
            certifications you have.
        </p>


        <p>
            <strong>IMPORTANT NOTICE:</strong> At the moment this website is part of a collage project written by
            Matthew Brazill as a fourth year project at South East Technological University. As part of this there will
            need to be a demonstration of the website to the Collage. This will require the disclosure of personal data
            (as mentioned above).
        </p>



        <!-- How Stored -->
        <h3 id="how_stored">How do we store your data?</h3>

        <p>The Club securely stores your data with Amazon Web Services in Ireland in a encrypted database.</p>
        <p>
            The Club will keep your personal data for the duration of your membership in the club or until you delete
            your account, whichever is later. Once this time period has expired, we will delete your data by deleting it
            from the database.
        </p>



        <!-- Promotion -->
        <h3 id="promotion">Promotion</h3>

        <p>The Club would like to send you information about events of ours that we think you might like.</p>
        <p>If you have agreed to receive this promotion, you may always opt out at a later date.</p>
        <p>You have the right at any time to stop the Club from contacting you for these promotion purposes.</p>
        <p>
            If you no longer wish to be contacted for these promotion purposes, you can change this in your settings
            under personal data.
        </p>



        <!-- Rights -->
        <h3 id="rights">What are your data protection rights?</h3>

        <p>
            The Club would like to make sure you are fully aware of all of your data protection rights. Every user is
            entitled to the following:
        </p>
        <p>
            <strong>The right to access</strong> - You have the right to request the CLub for copies of your personal
            data.
        </p>
        <p>
            <strong>The right to rectification</strong> - You have the right to request that the Club correct any
            information you believe is inaccurate. You also have the right to request the Club to complete the
            information you believe is incomplete.
        </p>
        <p>
            <strong>The right to erasure</strong> - You have the right to request that the Club erase your personal
            data, under certain conditions.
        </p>
        <p>
            <strong>The right to restrict processing</strong> - You have the right to request that the Club restrict
            the processing of your personal data, under certain conditions.
        </p>
        <p>
            <strong>The right to object to processing</strong> - You have the right to object to the Club's processing
            of your personal data, under certain conditions.
        </p>
        <p>
            <strong>The right to data portability</strong> - You have the right to request that the Club transfer the
            data that we have collected to another organization, or directly to you, under certain conditions.
        </p>

        <p>
            If you make a request, we have one month to respond to you. If you would like to exercise any of these
            rights, please contact us at our email: <strong>Matthew@Brazill.de</strong>
        </p>
        <p>Call us at: <strong>+353 83 120 1448</strong></p>
        <p>
            Or write to us:
            <strong>
                <br>Apartment 1
                <br>41 John Street
                <br>Waterford
                <br>Waterford Co.
                <br>Ireland
                <br>X91 XR68
            </strong>
        </p>



        <!-- Cookies -->
        <h3 id="cookies">Cookies</h3>

        <p>
            Cookies are text files placed on your computer to collect standard Internet log information and visitor
            behavior information. When you visit our websites, we may collect information from you automatically through
            cookies or similar technology.
        </p>



        <!-- How Cookies -->
        <h3 id="how_cookies">How do we use cookies?</h3>

        <p>The Club uses cookies in a range of ways to improve your experience on our website, including:</p>
        <ul>
            <li>Keeping you signed in.</li>
            <li>Understanding how you use our website.</li>
            <li>Remembering your preferences.</li>
            <li>Storing the contents of your gear cart.</li>
        </ul>



        <!-- What Cookies -->
        <h3 id="what_cookies">What types of cookies do we use?</h3>

        <p>There are a number of different types of cookies, however, our website uses:</p>
        <ul>
            <li>
                Functionality - The Club uses these cookies so that we recognize you on our website and remember your
                previously selected preferences. These could include what language you prefer or the content of your
                gear cart. Only first-party cookies are used.
            </li>
            <li>
                Analytics - The Club uses analytical cookies so that we can see how users use the website and improve 
                our service for our users. Only first-party cookies are used.
            </li>
        </ul>



        <!-- Manage Cookies -->
        <h3 id="manage_cookies">How to manage cookies</h3>

        <p>
            You can set your browser not to accept cookies, and the above website tells you how to remove cookies from
            your browser. However, in a few cases, some of our website features may not function as a result.
        </p>



        <!-- Other Websites -->
        <h3 id="other_websites">Privacy policies of other websites</h3>

        <p>
            The SETUKC website contains links to other websites. Our privacy policy applies only to our website, so if
            you click on a link to another website, you should read their privacy policy.
        </p>



        <!-- Changes -->
        <h3 id="changes">Changes to our privacy policy</h3>

        <p>
            The Club keeps its privacy policy under regular review and places any updates on this web page. This privacy
            policy was last updated on 13 September 2022.
        </p>



        <!-- Contact -->
        <h3 id="contact">How to contact us</h3>

        <p>
            If you have any questions about the Club's privacy policy, the data we hold on you, or you would like to
            exercise one of your data protection rights, please do not hesitate to contact us.
        </p>
        <p>Email us at: <strong>Matthew@Brazill.de</strong></p>
        <p>Call us: <strong>+353 83 120 1448</strong></p>
        <p>
            Or write to us at:
            <strong>
                <br>Apartment 1
                <br>41 John Street
                <br>Waterford
                <br>Waterford Co.
                <br>Ireland
                <br>X91 XR68
            </strong>
        </p>



        <!-- Authorities -->
        <h3 id="authorities">How to contact the appropriate authority</h3>

        <p>
            Should you wish to report a complaint or if you feel that the Club has not addressed your concern in a
            satisfactory manner, you may contact the <a href="https://www.dataprotection.ie/">Information Commissioner's
                Office</a>.
        </p>
        <p>Telephone: <strong>+353 1 765 0100 / 1800 437 737</strong></p>
    </div>
</div>